* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
  }
  
  .sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebarOption .material-icons,
  .fa-twitter {
    padding: 20px;
  }
  
  .sidebarOption h2 {
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  
  .sidebarOption.active {
    color: var(--twitter-color);
  }
  
  .sidebar__tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
  }
  
  body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
  
  .sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
  
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .fa-twitter {
    color: var(--twitter-color);
    font-size: 30px;
  }
  
  /* feed */
  .feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
  }
  
  .feed__header h2 {
    font-size: 20px;
    font-weight: 800;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* tweet box */
  .tweetbox__input img {
    border-radius: 50%;
    height: 40px;
  }
  
  .tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
  }
  
  .tweetBox form {
    display: flex;
    flex-direction: column;
  }
  
  .tweetbox__input {
    display: flex;
    padding: 20px;
  }
  
  .tweetbox__input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
  }
  
  .tweetbox__footer {
    display: flex;
    color: #50b7f5;
    justify-content: space-between;
    margin-top: 20px;
  }
  .tweetBox__tweetButton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
  
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 40px;
    margin-left: auto;
  }
  
  /* post */
  .post__avatar img {
    border-radius: 50%;
    height: 40px;
  }
  
  .post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
  }
  
  .post__body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
  }
  
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  
  .post__headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .post__body {
    flex: 1;
    padding: 10px;
  }
  
  .post__avatar {
    padding: 20px;
  }
  
  /* widgets */
  .widgets {
    flex: 0.3;
  }
  
  .widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .widgets__input input {
    border: none;
    background-color: var(--twitter-background);
  }
  
  .widgets__searchIcon {
    color: gray;
  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .widgets__widgetContainer h2 {
    font-size: 18px;
    font-weight: 800;
  }
  .link{
    text-decoration: none;
  }
  .link:hover{
    text-decoration: underline;
  }

  .button-solid {
    border: none;
}
button-solid:focus {
  color: #ddd;
    border: none;
    outline: none;
}


  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    border-top: 10ex;
    border: 3px solid #f1f1f1;
    z-index: 15;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    position: relative;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
  
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 40px;
    margin-left: auto;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }