.leftdiv
{
float: left;
border: solid rgb(170, 166, 166);
border-width: thin;
}
.middlediv
{
    position: relative;
    top: 10px;
float: left;
left: 10px;
border: solid rgb(170, 166, 166);
border-width: thin;
}
.rightdiv
{
float: left;
border-width: thin;
}